[type=submit].bg-primary:disabled {
    background-color: rgba(59, 113, 202, 0.4) !important;
}
[type=submit].bg-primary {
    background-color: rgb(59 113 202/var(--tw-bg-opacity));
}

input {
    outline: none !important;
}